.App {
  text-align: center;
  background-color: rgb(221, 221, 221);
  height: 100%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.App_wrapper {
  margin: 0 auto;
  width: 1250px;
  min-height: 100px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;

}

.content_wrapper {
  padding-top: 25px;
  width: 1025px;
}

