.App {
  text-align: center;
  background-color: rgb(221, 221, 221);
  height: 100%;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.App_wrapper {
  margin: 0 auto;
  width: 1250px;
  min-height: 100px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  box-shadow: 1px 0 3px rgba(0,0,0,0.2);

}

.content_wrapper {
  width: 1025px;
  background-color: rgb(222, 222, 245);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.wrap {
  position: relative;
}


