.wrapper {
    min-height: 900px;
    width: 225px;
    /* background-color: rgb(22, 50, 209); */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 2px solid rgba(146, 146, 146, 0.274);
}


